.year-selector,
.month-selector {
    display: table;
    margin: 0 auto;
}

.year-selector div,
.month-selector div {
    width: 70px;
    text-align: center;
}

.year-selector a,
.year-selector div,
.month-selector a,
.month-selector div {
    float: left;
}

.year-selector a:hover,
.month-selector a:hover {
    text-decoration: none;
}


.sources-container table {
    margin: 0 auto;
    width: 300px;
}

.sources-container .delete-source,
.sources-container .edit-source {
    cursor: pointer;
}

.overview-table {
    width: 400px;
    margin: 50px auto;
}

.overview-table th {
    text-align: left;
}

.sum-container {
    width: 400px;
    margin: 0 auto;
}

.sum-container span:after,
.source-value:after,
.last-month-difference:after {
    content: ' Ft'
}

#charts-container {
    width: 100%;
    height: 400px;
}

#average-overview-table {
    margin: 0 auto;
    width: 300px;
}