<div class="sources-container">
    <form id="add-new-source-form">
        <fieldset>
            <legend>Új forrás hozzáadása</legend>
            <label>Forrás neve</label>
            <input name="sourceName" class="required" type="text" placeholder="pl: bank">
            <br/>
            <button data-bind="click: backToSources" type="button" class="btn">Vissza</button>
            <button data-bind="click: saveNewSource" type="submit" class="btn">Hozzáad</button>
        </fieldset>
    </form>
</div>