<div class="sources-container">
    <h2>Források</h2>
    <a data-bind="click: addNewSource" class="btn" href="#" onfocus="blur()">Új forrás hozzáadása</a>

    <table>
        <tbody data-bind="foreach: main.sources">
            <tr>
                <td data-bind="text: name, attr: { 'data-id': id }"></td>
                <td>
                    <i data-bind="click: $root.editSource" class="edit-source icon-edit"></i>
                </td>
                <td>
                    <i data-bind="click: $root.deleteSource" class='delete-source icon-trash'></i>
                </td>
            </tr>
        </tbody>
    </table>

</div>