<div class="overview-container">

    <ul class="nav nav-tabs">
        <li data-bind="click: showOverviewByYear, css: {'active': yearOverviewActive}"><a href="#">Éves</a></li>
        <li data-bind="click: showOverviewByMonth, css: {'active': monthOverviewActive}"><a href="#">Havi</a></li>
        <li data-bind="click: showOverviewByAverage, css: {'active': averageOverviewActive}"><a href="#">Átlagos</a></li>
    </ul>
    
    <div data-bind="visible: yearOverviewActive" class="overview-by-year-container">
        Éves
    </div>

    <div data-bind="visible: monthOverviewActive" class="overview-by-month-container">
        
        <div data-bind="visible: hasThisMonthFilled">
            
            <div class="year-selector">
                <a data-bind='click: setPrevYear' href="#" onfocus="blur()">
                    <i class='icon-chevron-left'></i>
                </a>
                <div data-bind='text:yearToShow'></div>
                <a data-bind='click: setNextYear' href="#" onfocus="blur()">
                    <i class='icon-chevron-right'></i>
                </a>
            </div>

            <div class="month-selector">
                <a data-bind='click: setPrevMonth' href="#" onfocus="blur()">
                    <i class='icon-chevron-left'></i>
                </a>
                <div data-bind='text: getMonthStringByInt(monthToShow)'></div>
                <a data-bind='click: setNextMonth' href="#" onfocus="blur()">
                    <i class='icon-chevron-right'></i>
                </a>
            </div>

            <table class="overview-table">
                <thead>
                    <tr>
                        <th>Forrás neve</th>
                        <th>Érték</th>
                        <th>Változás</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: main.currMonthOverview">
                    <tr>
                        <td class="name" data-bind='text: name'></td>
                        <td class="source-value" data-bind='text: source_value'></td>
                        <td class="last-month-difference" data-bind='text: last_month_difference'></td>
                        <td class="direction-of-difference">
                            <i></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="sum-container">
                <b>Összesen:</b> 
                <span class="sum-value"></span>
            </div>
        </div>
        
        <div id="addMonthlyOverview" data-bind="visible: !hasThisMonthFilled()">
        </div>
    </div>
    
    <div data-bind="visible: averageOverviewActive" class="overview-by-average-container">
        Átlagos
    </div>
    
</div>